

body{
    height:100vh;
}


.pd-box{
    padding:var(--pd)
}

.box-content{
    border: 1px solid #e9ecef;
    padding: var(--pd);
}


.box-wrap  {
    width: 70%;
    margin: auto;
    margin-top:100px;
}

.edge-input{
    border: 2px solid #e9ecef;
    border-radius: 8px;
    height: 30px;
    padding: 0px 10px 0 10px ;
}



.me-3{
    margin-right: 6px;
}
.ms-3{
    margin-left:6px;
}

.mt-4{
    margin-top:8px
}

.w-100-percent{
    width:100%
}
.w-80-percent{
    width:80%;
}
.w-60-percent{
    width:60%;
}
.w-40-percent{
    width:40%;
}

.box-product{
    display:flex
}
.justify-content-center{
    justify-content:center
}

.bt-none{
    border-top:none;
}
.be-none{
    border-left: none;
}
.br-none{
    border-right:none
}

.bm-none{
    border-bottom: none;
}

.form-control{
    width:70px;
    height:30px;
    border: 1px solid #e9ecef;
    border-radius:5px;
    padding: 0px 10px 0px 10px;
}

.form-control-mini{
    width:100px;
    height:18px;
    border: 1px solid #e9ecef;
    border-radius:5px;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
}

.pd-number{
    padding: 5px 10px 5px 10px;
}


.title-product{
    color:#397b7c;
    font-size:25px;
    font-weight:bold;
    margin-bottom: 10px;
}
.ms-auto{
    margin-left :auto
}
.me-auto{
    margin-right:auto
}
.bd-none{
    border: none;
}
.btn-color,
.btn-delete,
.btn-secondary {
    color:#fff;
    border-radius:0.375rem;
    cursor: pointer;
}

.btn-color{
    background:#0d6efd;
    height:35px;
}

.btn-delete{
    background:#dc3545;
}
.btn-secondary{
    background:#6c757d
}

.align-items-center{
    align-content: center;
}
.bg-total{
    background:#f3f3f3;
    padding-top:20px;
    padding-bottom: 20px;
}
.text-total{
    font-size:30px;
    font-weight:bold
}
.text-header{
    font-size:25px;
    font-weight:bold
}

.mt-50{
    margin-top:50px
}

.color-area{
    border: 2px solid #e9ecef;
    border-radius: 8px;
}

.remain-cal{
    color:#dc3545;
}

.doc-input{
    width:190px
}


.text-center{
    text-align: center !important;
}
.align-items-center{
    vertical-align: center!important;
}

.border-table{
    border: 1px solid #e9ecef;
}


table.order-detail {
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
	width: 450px;
	margin: 40px auto;
}

table.order-detail th,
table.order-detail td {
	border: 1px solid #e9ecef;
	vertical-align: top;
}



.text-nowrap {
    white-space: nowrap !important;
}

.align-middle {
    vertical-align: middle !important;
}
.font-head-table{
    font-size:12px
}

.h-35{
    height:35px;
}

.mh-400,.table-scroll{
    max-height:400px
}

.table-scroll{
    overflow:auto;
}

.overflow-auto{
    overflow:auto;
}